/* Global Styles */

html {
  background: url('https://www.dropbox.com/s/9pf8khljts5x1ly/background.svg?raw=1') no-repeat fixed;
  background-size: cover;
}

.nav-menu {
  background: #6441A4 fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  z-index: 1;
}

.header-logo {
  margin: 15px 10px 0 10px;
  max-width: 80px;
}

.filter-logo {
  margin: 25px 25px;
}

button {
  padding: 0;
  border-width: 0;
  border-style: none;
  background-color: transparent;
}

.search-logo {
  margin: 0 25px;
}

.search-bar {
  background-color: #6441A4;
  color: #fff;
  width: 40%;
  margin-top: 125px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: calc(37% - 7%);
  display: none;
  font-size: 1.5rem;
  height: 50px;
  border-radius: 2px;
  border: none;
  padding-left: 25px;
  transition: visibility .10s;
}

.wall-paper {
  margin-left: 100px;
}

.center-text {
  text-align: center;
}

.chan-status {
  padding-left: 10px;
}

.element-center {
  margin: 0px auto 35px;
}

h5 {
  margin-top: 0;
}

.logo-container {
  text-align: right;
}

.logo {
  border-radius: 2px;
  height: 50px;
  width: 50px;
}

.screen-name {
  padding: 16px 16px 7px 0px;
  font-weight: 600;
  font-size: 1.4rem!important;
}

.user-name {
  color: rgb(3, 169, 244);
}

.mdl-grid {
  margin: 0;
}

.mdl-button.mdl-button--colored {
  color: #6441A4;
  font-weight: 600;
}

.mdl-card__supporting-text {
  font-size: 1.2rem;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide:first-child, .filter-margin {
  margin-top: 50px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 176px;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}


/* Chrome button and input border fix */

button, button:focus, button:active, input, input:focus, input:active {
  border: none;
  outline: none;
  cursor: pointer;
}


/* Search bar placeholder text styles */

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, .5);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, .5);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}


/* Hide / reveal elements */

.reveal-element {
  display: block;
}

.hide-element {
  display: none;
}
