/* Global Styles */

body {
	background-color: #BDBDBD;
}

.center-text {
	text-align: center;
}

.chan-status {
	padding-left: 10px;
}

.element-center {
	margin: 15px auto;
}

h5 {
	margin-top: 0;
}

.logo-container {
	text-align: right;
}

.logo {
	border-radius: 2px;
	height: 50px;
	width: 50px;
}

.screen-name {
	padding: 16px 16px 7px 0px;
	font-weight: 600;
	font-size: 1.4rem!important;
}

.user-name {
	color: rgb(3,169,244);
}

.mdl-grid {
	margin: 0;
}

/* End Global Styles */

.mdl-card__supporting-text {
	font-size: 1.2rem;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}