/* Global Styles */

body {
	background-color: #BDBDBD;
}

.center-text {
	text-align: center;
}

.element-center {
	margin: 15px auto;
}

/* End Global Styles */


.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://static-cdn.jtvnw.net/jtv_user_pictures/esl_sc2-profile_banner-f8295b33d1846e75-480.jpeg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}